<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.l.marc.a3a">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_registrar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".registrar_alumno"
            android:parentActivityName=".main_registrar" />
        <activity
            android:name=".registrar_profesor"
            android:parentActivityName=".main_registrar" />
        <activity android:name=".consultar" />
        <activity android:name=".todos_alumnos" />
        <activity android:name=".estudiantes_porCiclo" />
        <activity android:name=".estudiantes_Curso" />
        <activity android:name=".todos_profesores" />
        <activity android:name=".buscar_todos"></activity>
    </application>

</manifest>